@import '/src/common/best-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';
body {
  margin: 50px;
}
/* 컴포넌트 */
/* 로고 컴포넌트 */
.brand {
  .logo {
    display: block;
  }
}

/* 버튼(Circle) 컴포넌트 */
.button-circle {
  position: relative;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  border: 0;
  border-radius: 50%;
  background: #23e97f linear-gradient(180deg, #23e97f 0%, #00dcc9 100%);

  &::after {
    content: '';
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    inline-size: 0.5rem;
    block-size: 0.5rem;
    border-radius: 50%;
    background: #fff;
  }
}

/* 입력 서식 컴포넌트 */
.input {
  background: yellow;
  display: flex;
  flex-flow: row nowrap;

  input {
    block-size: 1.5rem;
    border: 1px solid var(--pastel-gray);
    font-size: 0.875rem;
    padding: 0.125rem 0.5rem;
    flex: 1 0 0;
  }
}

/* 검색 폼 */
.form-search {
  margin-block-start: 20px;

  fieldset {
    border: 0;
  }

  .search-wrapper {
    background: yellow;
    display: flex;
  }
}
